<footer id='kontaktai'>
    <div class="container">
        <h2>Kontaktai</h2>
        <ul>
            <li><i class="fas fa-mobile-alt"></i> <a href="tel:+37069878691">+370 698 78691</a></li>
            <li><i class="fas fa-at"></i> <a href="mailto:info@kaidejos.lt">info@kaidejos.lt</a></li>
            <li><i class="fab fa-facebook-f"></i> <a href="https://www.facebook.com/creafutideas/" target="_blank">creafutideas</a></li>
            <li><i class="fas fa-atom"></i> PIC 916287027</li>
        </ul>
    </div>
</footer>