<nav class="navigation">
    <div class="navigation__container">
        <div class="navigation__logo">
            <a class="navigation__logo--link" href="/">
                <img class="navigation__logo--img" srcset="/img/logo-kai-1x.png 1x, /img/logo-kai-1x.png 2x" alt="Kūrybinės ateities idėjos">
            </a>
        </div>
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/#about" class="navigation__link">Apie Mus</a></li>
            <li class="navigation__item"><a href="/#projects" class="navigation__link">Projektai</a></li>
            <li class="navigation__item"><a href="/#contacts" class="navigation__link">Kontaktai</a></li>
        </ul>
    </div>
</nav>