<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Vienijame kūrybingus žmones, kuriančius Lietuvos ateitį">
    <meta name="keywords" content="Erasmus, projektai, jaunimas, mokymai, renginiai, švietimas">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <title>Kūrybinės ateities idėjos</title>
</head>

<body>
    {{> _navbar}}

    <main>

        {{{body}}}

    </main>

    {{> _footer}}

    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>