<section id="pagrindinis">
    <div class="container">
        <div class="header-wrap">
            <div class="header-left">
                <h1>Kūrybinės ateities idėjos</h1>
                <p>Norintiems aktyviai dalyvauti neformalioje švietimo aplinkoje ir tobulinti savo įgūdžius.</p>
            </div>
            <div class="header-right">
                <img src="/img/main_girl.png">
            </div>
        </div>
    </div>
</section>

<section id="apie">
    <div class="container">
        <h2>Apie mus</h2>
        <ul>
            <li>
                <img src="/img/apie_jaunimui.JPG" alt="jaunimas">
                <div>
                    <h3>Jaunimui</h3>
                    <p>Vienijame aktyvius, energingus, kūrybingus jaunus žmones. Ieškome naujų laisvalaikio
                        alternatyvų, skatiname jaunimo savirealizaciją, kūrybiškumą, aktyvumą. Sudarome palankias
                        sąlygas tobulėti, augti, kurti, mąstyti ir veikti. Stengiamės ugdyti moralines vertybes,
                        kultūrą, darbinius ir meninius gebėjimus. Raginame jaunimą bendrauti su skirtingais
                        žmonėmis ir atrasti naujas istorijas, įkvėpimus ir santykius, kurti tradicijas.
                        Aktyviai dalyvaujame tarptautiniuose Erasmus+ projektuose, inicijuojame vietinius
                        renginius, susijusius su sveiku gyvenimo būdu, sportu, verslumu, kūrybiniu mąstymu,
                        tolerancija ir kitomis jaunimui aktualiomis temomis.
                    </p>
                </div>
            </li>
            <li>
                <img src="/img/apie_mokymai.JPG" alt="mokymai">
                <div>
                    <h3>Mokymai</h3>
                    <p>Teikiame suaugusiųjų neformaliojo švietimo paslaugas, organizuojame seminarus,
                        kvalifikacijos kėlimo kursus. Patyrę asociacijos dėstytojai ir treneriai vykdo mokymus
                        Vakarų Lietuvos regiono gyventojams, organizacijoms. Jų profesiniam ir asmeninam
                        tobulėjimui siūlome kelias dešimtis mokymo programų, paremtų aktyviu mokymusi ir
                        neformaliais mokymosi būdais.
                    </p>
                </div>
            </li>
            <li>
                <img src="/img/apie_organizuojame.jpg" alt="organizuoja">
                <div>
                    <h3>Organizuojame</h3>
                    <p>Planuoja bei organizuoja aktyvaus poilsio ir kitus renginius, konkursus, rengia
                        švietimo
                        rėmimo projektus, aktyviai dalyvauja Erasmus + projektuose, tarptautinėse mugėse,
                        seminaruose, labdaros renginiuose.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

{{> _projects-list}}