*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.heading-2 {
  font-size: 3.3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3rem 0; }
  @media only screen and (max-width: 60em) {
    .heading-2 {
      text-align: center; } }

.about {
  width: 95%;
  max-width: 114rem;
  margin: auto; }
  .about__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem; }
    @media only screen and (max-width: 60em) {
      .about__container {
        grid-template-columns: minmax(min-content, 60rem);
        justify-content: center; } }

.card {
  border-radius: 5px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: #e6ebef;
  position: relative; }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 23rem; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom, rgba(255, 239, 95, 0.4), rgba(255, 239, 95, 0.4)), url(../img/apie__jaunimui--small.jpg); }
      @media (min-resolution: 192dpi) {
        .card__picture--1 {
          background-image: linear-gradient(to bottom, rgba(255, 239, 95, 0.4), rgba(255, 239, 95, 0.4)), url(../img/apie__jaunimui--big.jpg); } }
    .card__picture--2 {
      background-image: linear-gradient(to bottom, rgba(108, 220, 255, 0.4), rgba(108, 220, 255, 0.4)), url(../img/apie__mokymai--small.jpg); }
      @media (min-resolution: 192dpi) {
        .card__picture--2 {
          background-image: linear-gradient(to bottom, rgba(108, 220, 255, 0.4), rgba(108, 220, 255, 0.4)), url(../img/apie__mokymai--big.jpg); } }
    .card__picture--3 {
      background-image: linear-gradient(to bottom, rgba(246, 43, 5, 0.4), rgba(246, 43, 5, 0.4)), url(../img/apie__organizuojame--small.jpg); }
      @media (min-resolution: 192dpi) {
        .card__picture--3 {
          background-image: linear-gradient(to bottom, rgba(246, 43, 5, 0.4), rgba(246, 43, 5, 0.4)), url(../img/apie__organizuojame--big.jpg); } }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 20.5rem;
    left: 50%;
    transform: translateX(-50%); }
  .card__heading-span {
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom, rgba(255, 239, 95, 0.8), rgba(197, 177, 0, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom, rgba(108, 220, 255, 0.8), rgba(0, 160, 210, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom, rgba(246, 43, 5, 0.8), rgba(96, 17, 2, 0.8)); }
  .card__content {
    padding: 4rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center; }

.footer {
  background-color: #e6ebef; }
  .footer__container {
    width: 95%;
    max-width: 114rem;
    margin: auto; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 20rem;
    margin: 3rem; }
  .footer__contacts {
    color: #333;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    justify-items: center; }
  .footer__logo-text {
    font-size: 1.7rem;
    color: #98adbd;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 1.5rem;
    align-items: center; }
    .footer__logo-text::before, .footer__logo-text::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor; }
  .footer__item {
    display: flex;
    align-items: center; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    fill: currentColor; }
  .footer__link:link, .footer__link:visited {
    color: currentColor;
    text-decoration: none; }
  .footer__link:hover, .footer__link:active {
    text-decoration: underline; }

.form__container {
  max-width: 75rem;
  margin: auto;
  padding: 1rem; }

.form__group {
  margin: 1.5rem 0; }

.form input,
.form textarea,
.form select {
  width: 100%;
  font-family: inherit;
  padding: 1rem;
  font-size: 1.3rem; }

.form label {
  font-size: 1.8rem; }

.form #completed {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.form__submit {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding: 1rem;
  background: #e6ebef;
  border: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s; }
  .form__submit:hover, .form__submit:active {
    background-color: #c7d2db; }

.ck-editor__editable {
  min-height: 220px;
  font-size: 1.7rem; }

.msg {
  width: 95%;
  max-width: 114rem;
  margin: auto;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .msg--success {
    background: #008000; }
  .msg--error {
    background: #ff0000; }

.header {
  background-color: #e6ebef; }
  .header__container {
    width: 95%;
    max-width: 114rem;
    margin: auto;
    background-image: url(../img/main_bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .header__container {
        grid-template-columns: 1fr; } }
  .header__text-box {
    padding-left: 1.5rem;
    color: #333;
    align-self: center;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: end;
        text-align: center;
        padding-left: 0;
        padding-top: 8rem;
        background-image: linear-gradient(to bottom, rgba(230, 235, 239, 0), rgba(230, 235, 239, 0.95)); } }
  .header__heading-main {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.1; }
  .header__heading-sub {
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0; }
  .header__img-box {
    justify-self: end;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .header__img-box {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center; } }
  .header__img {
    max-width: 100%;
    max-height: 50rem;
    display: block; }

.navigation {
  background-color: #e6ebef; }
  .navigation__container {
    width: 95%;
    max-width: 114rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .navigation__container {
        flex-direction: column; } }
  .navigation__logo--img {
    width: 8rem; }
  .navigation__list {
    list-style: none;
    display: flex;
    align-items: center; }
  .navigation__item {
    padding: 1.5rem;
    transition: background-color 0.3s; }
    .navigation__item:hover {
      background-color: #dae1e7;
      cursor: pointer; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-decoration: none; }

.projects {
  width: 95%;
  max-width: 114rem;
  margin: auto; }

.project {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 2fr;
  grid-gap: 2rem;
  align-items: start; }
  @media only screen and (max-width: 43.75em) {
    .project {
      grid-template-columns: 1fr;
      grid-gap: 0rem;
      border-radius: 5px;
      box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25);
      overflow: hidden; } }
  .project__visuals {
    border-radius: 5px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: #e6ebef;
    position: relative; }
    @media only screen and (max-width: 43.75em) {
      .project__visuals {
        border-radius: 0;
        box-shadow: none; } }
  .project__img {
    display: block;
    width: 100%; }
  .project__logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center; }
    .project__logo--1, .project__logo--2 {
      display: block;
      padding: 1.5rem;
      max-width: 100%;
      object-fit: contain; }
  .project__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .project__completed {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #e6ebef;
    display: flex;
    align-items: center; }
  .project__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    fill: currentColor; }
  .project__details {
    border-radius: 5px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: #e6ebef;
    padding: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .project__details {
        border-radius: 0;
        box-shadow: none; } }
  .project__title {
    font-size: 2.2rem;
    margin-bottom: 2rem; }
  .project__link:link, .project__link:visited {
    color: #000;
    text-decoration: none; }
  .project__link:hover, .project__link:active {
    color: #333; }
  .project__heading {
    font-size: 1.6rem; }
    .project__heading--summary {
      margin-top: 5rem; }
  .project__info {
    font-size: 1.5rem; }
    .project__info:not(:last-child) {
      margin-bottom: 1rem; }
  .project__back {
    display: block;
    margin-top: 5rem; }
