// COLORS
$color-black: #000;
$color-white: #fff;

$color-grey-light: #e6ebef;
$color-grey-dark: #333;

$color-multi-1: #ffef5f;
$color-multi-2: #6cdcff;
$color-multi-3: #f62b05;

// RESPONSIVE BREAKPOINTS
$bp-largest: 68.75em; // 1100px
$bp-large: 60em; // 950px
$bp-medium: 43.75em; // 700px
$bp-small: 37.5em; // 600px
