<section class="form">
    <div class="form__container">
        <h2 class="heading-2">Pridėti projektą</h2>

        <form action="/projects" method="post">
            <div class="form__group">
                <label for="title">Pavadinimas</label>
                <input type="text" name="title" required>
            </div>
            <div class="form__group">
                <label for="number">Numeris</label>
                <input type="text" name="number" required>
            </div>
            <div class="form__group">
                <label for="duration">Trukmė</label>
                <input type="text" name="duration" required>
            </div>
            <div class="form__group">
                <label for="image">Nuotrauka</label>
                <input type="text" name="image" required>
            </div>
            <div class="form__group">
                <label for="logoOne">Logotipas #1</label>
                <select name='logoOne'>
                    <option value="/img/logo-erasmus-plus.png" selected>Erasmus+</option>
                    <option value="/img/logo-nord-plus.png">Nord Plus</option>
                    <option value="/img/logo-kai-1x.png">KAI</option>
                </select>
            </div>
            <div class="form__group">
                <label for="logoTwo">Logotipas #2</label>
                <select name='logoTwo'>
                    <option value="/img/logo-erasmus-plus.png" selected>Erasmus+</option>
                    <option value="/img/logo-nord-plus.png">Nord Plus</option>
                    <option value="/img/logo-kai-1x.png">KAI</option>
                </select>
            </div>
            <div class="form__group">
                <label for="partners">Partneriai</label>
                <textarea class="editor" name="partners"></textarea>
            </div>
            <div class="form__group">
                <label for="body">Aprašymas</label>
                <textarea class="editor" name="body"></textarea>
            </div>
            <div class="form__group">
                <button class="form__submit" type="submit">pridėti</button>
            </div>
        </form>
    </div>
</section>