<section class="form">

    {{> _errors}}
    {{> _msg}}

    <div class="form__container">
        <h2 class="heading-2">Prisijungti</h2>

        <form action="/users/register" method="post">
            <div class="form__group">
                <label for="email">El. paštas</label>
                <input type="email" name="email" value="{{email}}" required>
            </div>
            <div class="form__group">
                <label for="password">Slaptažodis</label>
                <input type="password" name="password" required>
            </div>
            <div class="form__group">
                <label for="password2">Patvirtinti slaptažodį</label>
                <input type="password" name="password2" required>
            </div>
            <div class="form__group">
                <button class="form__submit" type="submit">registruotis</button>
            </div>
        </form>

    </div>
</section>